<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="fileAppenderApplication" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.base}/logs/newsportal/application.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="fileAppenderDependencies" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.base}/logs/newsportal/dependencies.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="systemOut" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="by.intexsoft" level="info" additivity="false">
		<appender-ref ref="systemOut" />
	</logger>

	<logger name="org.springframework" level="error" additivity="false">
		<appender-ref ref="fileAppenderDependencies" />
	</logger>

	<logger name="org.hibernate" level="error" additivity="false">
		<appender-ref ref="fileAppenderDependencies" />
	</logger>

	<root level="error">
		<appender-ref ref="fileAppenderDependencies" />
	</root>
</configuration>