<md-card>
    <md-card-header id='admin-header'>
        <div>Users Administration Section</div>
        <md-icon color='accent'>settings</md-icon>
    </md-card-header>
    <md-card-content>
        <md-error class='mat-error' *ngIf='errorMessage'>{{errorMessage}}</md-error>
        <md-error class='info-message' *ngIf='showInfo'>{{infoMessage}}</md-error>
        <div class='admin-get-buttons'>
            <button md-raised-button color='primary' (click)='findAll()'>Display All Users</button>
            <button md-raised-button color='primary' (click)='getDisabled()'>Display Disabled Users</button>
            <button md-raised-button color='primary' (click)='getEnabled()'>Display Enabled Users</button>
        </div>

        <!-- Administration Section -->
        <md-grid-list class='table-header' cols='12' rowHeight='30px'>
            <md-grid-tile colspan='1'>Pos. №</md-grid-tile>
            <md-grid-tile colspan='2'>User Name</md-grid-tile>
            <md-grid-tile colspan='2'>First Name</md-grid-tile>
            <md-grid-tile colspan='2'>Last Name</md-grid-tile>
            <md-grid-tile colspan='2'>Email</md-grid-tile>
            <md-grid-tile colspan='2'>Status</md-grid-tile>
            <md-grid-tile colspan='1'>Details</md-grid-tile>
        </md-grid-list>

        <div *ngIf='submitted'>
            <md-grid-list class='table-row' *ngFor='let user of users' cols='12' rowHeight='30px'>
                <md-grid-tile colspan='1'>{{users.indexOf(user) + pageNumber * 5 + 1}}</md-grid-tile>
                <md-grid-tile colspan='2'>{{user.username}}</md-grid-tile>
                <md-grid-tile colspan='2'>{{user.firstName}}</md-grid-tile>
                <md-grid-tile colspan='2'>{{user.lastName}}</md-grid-tile>
                <md-grid-tile colspan='2'>{{user.email}}</md-grid-tile>
                <md-grid-tile colspan='2'>{{user.enabled ? 'enabled' : 'disabled'}}</md-grid-tile>
                <!-- Details button -->
                <md-grid-tile colspan='1'>
                    <button md-icon-button color="accent" [routerLink]='["/user", user.id]'>
                        <md-icon>visibility</md-icon>
                    </button>
                </md-grid-tile>
            </md-grid-list>
        </div>

        <div class='spinner'>
            <md-spinner color='accent' *ngIf='!submitted' mode='indeterminate'></md-spinner>
        </div>
    </md-card-content>

    <md-card-footer class='mat-action-row'>
        <button [disabled]='!hasPreviousUsers()' md-raised-button color='primary' (click)='previous()'>Previous Users
        </button>
        <div class='page-number'>
            <md-icon color='primary'>note</md-icon>
            {{pageNumber + 1}}
        </div>
        <button [disabled]='!hasNextUsers()' md-raised-button color='primary' (click)='next()'>Next Users</button>
    </md-card-footer>
</md-card>