<div>
    <h3 translate>Login_form</h3>
    <form (ngSubmit)='login()' #userForm='ngForm'>
        <div>
            <label for="name" translate>Login</label>
            <input type="text" id="name"
                   required [(ngModel)]='username' name='username' #spy>
        </div>

        <div>
            <label for="password" translate>Password</label>
            <input type="text" id="password"
                   required [(ngModel)]='password' name='password' #spy>
        </div>
        <button type="submit"
                [disabled]='!userForm.form.valid' translate>Login_button
        </button>
    </form>
</div>