<md-card>
    <md-card-header id='personal-header'>
        <div>{{'Article_Creation_Section' | translate}}</div>
        <md-icon color='accent'>note_add</md-icon>
    </md-card-header>
    <md-card-content>
        <md-error class='header-error' *ngIf='errorMessage'>{{errorMessage | translate}}</md-error>

        <form *ngIf='!submitted' class='article-creation-form' [formGroup]='articleFormControl' #articleForm='ngForm'>
            <!-- Article Title -->
            <div class='article-title'>
                <md-form-field>
                    <input mdInput formControlName='validTitle' class='mat-accent' type='text'
                           placeholder="{{'Article_Title' | translate}}" required
                           [(ngModel)]='article.title' name='article.title'>
                    <md-error *ngIf='articleFormControl.controls["validTitle"].errors?.required'>
                        {{'Article_Title_Required' | translate}}
                    </md-error>
                    <md-error *ngIf='articleFormControl.controls["validTitle"].errors?.minlength'>
                        {{'Min_5_Length' | translate}}
                    </md-error>
                </md-form-field>
            </div>

            <div class='date-container'>
                <!-- Start Date -->
                <div class='start-date-block'>
                    <md-form-field>
                        <input [(ngModel)]='startDate' mdInput placeholder="{{'Start_Date' | translate}}"
                               [mdDatepicker]='startDatePicker'
                               readonly [ngModelOptions]="{standalone: true}">
                        <md-datepicker-toggle mdSuffix [for]='startDatePicker'></md-datepicker-toggle>
                        <md-datepicker #startDatePicker></md-datepicker>
                    </md-form-field>

                    <md-form-field>
                        <input [(ngModel)]='startTime' [ngModelOptions]="{standalone: true}" class='time-field' mdInput
                               type='time' placeholder="{{'Start_Time' | translate}}">
                    </md-form-field>
                </div>

                <!-- End Date -->
                <div class='end-article-date'>
                    <md-form-field>
                        <input [(ngModel)]='endDate' mdInput placeholder="{{'End_Date' | translate}}"
                               [mdDatepicker]='endDatePicker'
                               readonly [ngModelOptions]="{standalone: true}">
                        <md-datepicker-toggle mdSuffix [for]='endDatePicker'></md-datepicker-toggle>
                        <md-datepicker #endDatePicker></md-datepicker>
                    </md-form-field>

                    <md-form-field>
                        <input [(ngModel)]='endTime' [ngModelOptions]="{standalone: true}" class='time-field' mdInput
                               type='time' placeholder="{{'End_Time' | translate}}">
                    </md-form-field>
                </div>
            </div>

            <!-- Short Description -->
            <div class='desc-container'>
                <md-form-field class='desc-container'>
                <textarea formControlName='validDescription' required mdInput class='desc-textarea' rows='1'
                          maxlength='160'
                          [(ngModel)]='article.description' name='article.description'
                          placeholder="{{'Short_Description' | translate}}"></textarea>
                    <md-error *ngIf='articleFormControl.controls["validDescription"].errors?.required'>
                        {{'Article_Description_Error' | translate}}
                    </md-error>
                    <md-error *ngIf='articleFormControl.controls["validDescription"].errors?.minlength'>
                        {{'Min_20_Length' | translate}}
                    </md-error>
                </md-form-field>
            </div>

            <!-- Article -->
            <md-form-field class='article-container'>
                <textarea formControlName='validArticle' required mdInput class='article-textarea'
                          [(ngModel)]='article.article' name='article.article' placeholder="{{'Article' | translate}}"></textarea>
                <md-error *ngIf='articleFormControl.controls["validArticle"].errors?.required'>
                    {{'Article_Body_Error' | translate}}
                </md-error>
                <md-error *ngIf='articleFormControl.controls["validArticle"].errors?.minlength'>
                    {{'Min_100_Length' | translate}}
                </md-error>
            </md-form-field>
        </form>

        <!-- Categories -->
        <md-grid-list *ngIf='!submitted' class='category-grid' cols='5' rowHeight="2.5:1">
            <md-grid-tile id='category-grid-header' colspan='5'>
                {{'Choose_Article' | translate}}
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isGlobal">{{'_Global' | translate}}</md-checkbox>
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isSport">{{'_Sport' | translate}}</md-checkbox>
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isArt">{{'_Art' | translate}}</md-checkbox>
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isPolitics">{{'_Politics' | translate}}</md-checkbox>
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isJoy">{{'_Joy' | translate}}</md-checkbox>
            </md-grid-tile>
        </md-grid-list>

        <div class='spinner'>
            <md-spinner *ngIf='submitted' mode='indeterminate'></md-spinner>
        </div>

    </md-card-content>

    <md-card-footer class='mat-action-row'>
        <button md-raised-button color='primary' [disabled]='!articleFormControl?.valid'
                (click)='uploadArticle()'>
            {{'Send_For_Review' | translate}}
        </button>
    </md-card-footer>
</md-card>