<md-card>
    <md-card-header id='personal-header'>
        <div>Article Creation Section</div>
        <md-icon color='accent'>note_add</md-icon>
    </md-card-header>
    <md-card-content>
        <md-error class='header-error' *ngIf='errorMessage'>{{errorMessage}}</md-error>

        <form *ngIf='!submitted' class='article-creation-form' [formGroup]='articleFormControl'>
            <!-- Article Title -->
            <div class='article-title'>
                <md-form-field>
                    <input mdInput formControlName='validTitle' class='mat-accent' type='text'
                           placeholder='Article Title' required
                           [(ngModel)]='article.title' name='article.title'>
                    <md-error *ngIf='articleFormControl.controls["validTitle"].errors?.required'>
                        Article Title is required
                    </md-error>
                    <md-error *ngIf='articleFormControl.controls["validTitle"].errors?.minlength'>
                        Length must be at least 5 symbols
                    </md-error>
                </md-form-field>
            </div>

            <div class='date-container'>
                <!-- Start Date -->
                <div class='start-date-block'>
                    <md-form-field>
                        <input [(ngModel)]='startDate' mdInput placeholder='Start Date' [mdDatepicker]='startDatePicker' readonly [ngModelOptions]="{standalone: true}">
                        <md-datepicker-toggle mdSuffix [for]='startDatePicker'></md-datepicker-toggle>
                        <md-datepicker #startDatePicker></md-datepicker>
                    </md-form-field>

                    <md-form-field>
                        <input [(ngModel)]='startTime' [ngModelOptions]="{standalone: true}" class='time-field' mdInput type='time' placeholder='Start Time'>
                    </md-form-field>
                </div>

                <!-- End Date -->
                <div class='end-article-date'>
                    <md-form-field>
                        <input [(ngModel)]='endDate' mdInput placeholder='End Date' [mdDatepicker]='endDatePicker' readonly [ngModelOptions]="{standalone: true}">
                        <md-datepicker-toggle mdSuffix [for]='endDatePicker'></md-datepicker-toggle>
                        <md-datepicker #endDatePicker></md-datepicker>
                    </md-form-field>

                    <md-form-field>
                        <input [(ngModel)]='endTime' [ngModelOptions]="{standalone: true}" class='time-field' mdInput type='time' placeholder='End Time'>
                    </md-form-field>
                </div>
            </div>

            <!-- Short Description -->
            <div class='desc-container'>
                <md-form-field class='desc-container'>
                <textarea formControlName='validDescription' required mdInput class='desc-textarea' rows='1'
                          maxlength='160'
                          [(ngModel)]='article.description' name='article.description'
                          placeholder='Short Article Description'></textarea>
                    <md-error *ngIf='articleFormControl.controls["validDescription"].errors?.required'>
                        Article Description is required
                    </md-error>
                    <md-error *ngIf='articleFormControl.controls["validDescription"].errors?.minlength'>
                        Length must be at least 20 symbols
                    </md-error>
                </md-form-field>
            </div>

            <!-- Article -->
            <md-form-field class='article-container'>
                <textarea formControlName='validArticle' required mdInput class='article-textarea' [(ngModel)]='article.article' name='article.article' placeholder='Article'></textarea>
                <md-error *ngIf='articleFormControl.controls["validArticle"].errors?.required'>
                    Article Body is required
                </md-error>
                <md-error *ngIf='articleFormControl.controls["validArticle"].errors?.minlength'>
                    Length must be at least 100 symbols
                </md-error>
            </md-form-field>
        </form>

        <!-- Authority -->
        <md-grid-list *ngIf='!submitted' class='category-grid' cols='5' rowHeight="2.5:1">
            <md-grid-tile id='category-grid-header' colspan='5'>
                Choose Article Categories:
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isGlobal">Global</md-checkbox>
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isSport">Sport</md-checkbox>
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isArt">Art</md-checkbox>
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isPolitics">Politics</md-checkbox>
            </md-grid-tile>
            <md-grid-tile colspan='1'>
                <md-checkbox [(ngModel)]="categories.isJoy">Joy</md-checkbox>
            </md-grid-tile>
        </md-grid-list>

        <div class='spinner'>
            <md-spinner *ngIf='submitted' mode='indeterminate'></md-spinner>
        </div>

    </md-card-content>

    <md-card-footer class='mat-action-row'>
        <button md-raised-button color='primary' (click)='uploadArticle()'>
            Send Article For Review
        </button>
    </md-card-footer>
</md-card>