<md-card>
    <md-card-header id='revision-header'>
        <div>{{'Article_Revision_Section' | translate}}</div>
        <md-icon color='accent'>build</md-icon>
    </md-card-header>

    <md-card-content>
        <md-error class='mat-error' *ngIf='errorMessage'>{{errorMessage | translate}}</md-error>
        <md-error class='info-message' *ngIf='showInfo'>{{infoMessage | translate}}</md-error>

        <div class='article-get-buttons'>
            <button md-raised-button color='primary' (click)='findAll()'>{{'Display_All_Articles' | translate}}</button>
            <button md-raised-button color='primary' (click)='getCreated()'>{{'Display_Not_Approved_Articles' | translate}}</button>
            <button md-raised-button color='primary' (click)='getDisplayed()'>{{'Display_Active_Articles' | translate}}</button>
        </div>

        <!-- Article Revision Section -->
        <md-grid-list class='table-header' cols='12' rowHeight='30px'>
            <md-grid-tile colspan='1'>{{'Pos' | translate}}</md-grid-tile>
            <md-grid-tile colspan='2'>{{'Article_Title' | translate}}</md-grid-tile>
            <md-grid-tile colspan='2'>{{'Author' | translate}}</md-grid-tile>
            <md-grid-tile colspan='2'>{{'Start_Date' | translate}}</md-grid-tile>
            <md-grid-tile colspan='2'>{{'End_Date' | translate}}</md-grid-tile>
            <md-grid-tile colspan='2'>{{'Status' | translate}}</md-grid-tile>
            <md-grid-tile colspan='1'>{{'Details' | translate}}</md-grid-tile>
        </md-grid-list>

        <div *ngIf='submitted'>
            <md-grid-list class='table-row' *ngFor='let article of articles' cols='12' rowHeight='30px'>
                <md-grid-tile colspan='1'>
                    {{articles.indexOf(article) + pageNumber * 5 + 1}}
                </md-grid-tile>
                <md-grid-tile colspan='2'>
                    {{article.title}}
                </md-grid-tile>
                <md-grid-tile colspan='2'>
                    {{article.author?.username}}
                </md-grid-tile>
                <md-grid-tile colspan='2'>
                    {{article.startDisplay ? getPrettyDate(article.startDisplay) : '-'}}
                </md-grid-tile>
                <md-grid-tile colspan='2'>
                    {{article.endDisplay ? getPrettyDate(article.endDisplay) : '-'}}
                </md-grid-tile>
                <md-grid-tile colspan='2'>
                    {{article.status?.name === 'created' ? 'not approved' : article.status?.name}}
                </md-grid-tile>
                <!-- Details button -->
                <md-grid-tile colspan='1'>
                    <button md-icon-button color="accent" [routerLink]='["/news/detail", article.id]'>
                        <md-icon>visibility</md-icon>
                    </button>
                </md-grid-tile>
            </md-grid-list>
        </div>
        <div class='spinner'>
            <md-spinner color='accent' *ngIf='!submitted' mode='indeterminate'></md-spinner>
        </div>

    </md-card-content>

    <md-card-footer class='mat-action-row'>
        <button [disabled]='!hasPreviousArticles()' md-raised-button color='primary' (click)='previous()'>Previous
            Articles
        </button>
        <div class='page-number'>
            <md-icon color='primary'>note</md-icon>
            {{pageNumber + 1}}
        </div>
        <button [disabled]='!hasNextArticles()' md-raised-button color='primary' (click)='next()'>Next Articles</button>
    </md-card-footer>
</md-card>
