<div>
    <md-card>
        <div class='icon-container'>
            <md-icon color='primary' class='lock'>lock</md-icon>
        </div>
        <md-card-subtitle>News Portal</md-card-subtitle>
        <md-card-title>Login Form</md-card-title>
        <md-error class="mat-error" *ngIf='errorMessage'>{{errorMessage}}</md-error>
        <md-card-content>
            <form *ngIf='!submitted' [formGroup]='loginFormControl' (ngSubmit)='login()' #loginForm='ngForm'>
                <md-form-field>
                    <input mdInput formControlName='validName' type='text' placeholder='Login' required
                           [(ngModel)]='username' name='username'>
                    <md-error *ngIf='loginFormControl.controls["validName"].errors?.required'>
                        Login is required
                    </md-error>
                    <md-error *ngIf='loginFormControl.controls["validName"].errors?.minlength'>
                        Length must be at least 3 symbols
                    </md-error>
                </md-form-field>
                <md-form-field>
                    <input mdInput formControlName='validPassword' type='password' placeholder='Password' required
                           [(ngModel)]='password'
                           name='password'>
                    <md-error *ngIf='loginFormControl.controls["validPassword"].errors?.required'>
                        Password is required
                    </md-error>
                    <md-error *ngIf='loginFormControl.controls["validPassword"].errors?.minlength'>
                        Length must be at least 3 symbols
                    </md-error>
                </md-form-field>
                <md-card-actions>
                    <button md-raised-button type='submit' [disabled]='!loginForm.form.valid'>Log In</button>
                    <button md-raised-button color='primary' routerLink='/signup'>Sign Up</button>
                </md-card-actions>
            </form>
            <md-spinner *ngIf='submitted' mode='indeterminate'></md-spinner>
        </md-card-content>
    </md-card>
</div>