<md-card>
    <div class='icon-container'>
        <md-icon color='accent' class='lock'>lock</md-icon>
    </div>
    <md-card-subtitle>{{'News_Portal' | translate}}</md-card-subtitle>
    <md-card-title>{{'Login_Form' | translate}}</md-card-title>
    <md-error class="mat-error" *ngIf='errorMessage'>{{errorMessage | translate}}</md-error>
    <md-card-content>
        <form *ngIf='!submitted' [formGroup]='loginFormControl' (ngSubmit)='login()' #loginForm='ngForm'>
            <md-form-field>
                <input mdInput formControlName='validName' type='text' placeholder="{{'Login' | translate}}" required
                       [(ngModel)]='username' name='username'>
                <md-error *ngIf='loginFormControl.controls["validName"].errors?.required'>
                    {{'Login_is_required' | translate}}
                </md-error>
                <md-error *ngIf='loginFormControl.controls["validName"].errors?.minlength'>
                    {{'Min_Length' | translate}}
                </md-error>
            </md-form-field>
            <md-form-field>
                <input mdInput formControlName='validPassword' type='password' placeholder="{{'Password' | translate}}"
                       required
                       [(ngModel)]='password'
                       name='password'>
                <md-error *ngIf='loginFormControl.controls["validPassword"].errors?.required'>
                    {{'Password_is_required' | translate}}
                </md-error>
                <md-error *ngIf='loginFormControl.controls["validPassword"].errors?.minlength'>
                    {{'Min_Length' | translate}}
                </md-error>
            </md-form-field>
            <md-card-actions>
                <button md-raised-button color='primary' type='submit' [disabled]='!loginForm.form.valid'>
                    {{'Log_In' | translate}}
                </button>
                <button md-raised-button color='accent' routerLink='/signup'>{{'Sign_Up' | translate}}</button>
            </md-card-actions>
        </form>
        <md-spinner *ngIf='submitted' mode='indeterminate'></md-spinner>
    </md-card-content>
</md-card>