You're welcome at the detailed view
<button (click)="goBack()">Back</button>
<!--
<div *ngIf='user'>
    <h2>You've selected the following user:</h2>
    <div><label>id: </label>{{user.id}}</div>
    <div><label>name: </label>{{user.name}}</div>
    <div><label>surname: </label>{{user.familyName}}</div>
    <div><input [(ngModel)]='user.name' placeholder='Name of a user'></div>
    <div><input [(ngModel)]='user.familyName' placeholder='Family name of a user'></div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Update</button>
</div>-->
