<div *ngIf='student'>
    <h2>You've selected the following student:</h2>
    <div><label>id: </label>{{student.id}}</div>
    <div><label>name: </label>{{student.name}}</div>
    <div><label>surname: </label>{{student.familyName}}</div>
    <div><input [(ngModel)]='student.name' placeholder='Name of a student'></div>
    <div><input [(ngModel)]='student.familyName' placeholder='Family name of a student'></div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Update</button>
</div>