<h3 translate>List</h3>
<ul class='students'>
    <li *ngFor='let student of students'
        (click)='onSelect(student)'
        [class.selected]='student === student'>
        <span class='badge'>{{student.id}}</span> {{student.name}} {{student.familyName}}
    </li>
</ul>
<div *ngIf="selectedStudent">
    <h2>
        {{selectedStudent.name | uppercase}} is a selected student. Press 'Show Details' if you want to proceed.
    </h2>
    <button (click)="showDetails()">Show Details</button>
</div>