md-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 250px;
    margin-top: 25px;
    margin-bottom: 25px;
}

md-card-title {
    display: flex;
    align-self: center;
}

md-card-subtitle {
    display: flex;
    align-self: center;
}

md-card-actions {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-end;
}

md-card-actions button {
    margin: 5px !important;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.lock {
    font-size: 36px;
}

md-card-content {
    width: inherit;
    display: flex;
    justify-content: center;
}

form {
    width: inherit;
}

md-form-field {
    width: inherit;
}

input {
    width: inherit;
}