md-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 650px;
    margin-top: 25px;
    margin-bottom: 25px;
}

md-card-title {
    display: flex;
    align-self: center;
}

md-card-subtitle {
    display: flex;
    align-self: center;
}

md-card-content {
    display: flex;
    align-self: flex-start;
}

.button-container {
    display: flex;
    flex: 0 0 auto;
}

.button-container button:nth-child(1) {
    margin-right: auto;
}