md-accordion {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 600px;
    margin-top: 25px;
    margin-bottom: 25px;
}

md-panel-title {
    display: flex;
    flex: 20 0 auto;
    align-self: center;
}

md-accordion md-panel-title,
md-accordion md-panel-description {
    flex-basis: 0;
}

md-accordion md-panel-description {
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.article-description {
    height: 500px;
}

.article-description md-grid-tile {
    width: 100%;
}

.article-description md-form-field {
    width: 480px;
}

.desc-textarea {
    resize: none;
    height: 20px;
}

.article-textarea {
    resize: none;
    height: 300px;
}

md-select {
    width: 200px;
    padding-top: 0px;
    padding-bottom: 17.5px;
}

.mat-select-placeholder {
    font-size: 14px !important;
}

md-grid-tile button {
    width: 480px;
}

.admin-section button {
    margin-right: 5px;
    margin-left: 5px;
}